<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />

  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap-icons.css') }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='common-waves.css') }}">
  <link href="{{ url_for('static', filename='Font_Montserrat.css') }}" rel='stylesheet'>
  <link href="{{ url_for('static', filename='Font_Poppins.css') }}" rel='stylesheet'>
  {% block modal_css %}{% endblock %}
  <title>{% block title %}Attributions{% endblock %} | MIT_MAHE - iGEM 2023</title>
</head>

<body style="background: #FFFFFF;">
  <!-- Navbar -->
  {% include 'my-menu.html' %}

  <div class="content-container" style="display:flex;">
    <!-- No Sidebar -->

    <div class="banner flex-grow-1" style="flex:1">
      <!-- Page Header -->
      <div class="custom-banner">
        <h1>{% block heading %} Attributions {% endblock %}</h1>
      </div>

      <!-- Content-->

      <div class="content">
        <div class="m-5 mb-16">
          <p class="mt-5 MAIN-STUFF" id="section1">Attributions<br></p>
          <p style="font-family: 'Poppins', sans-serif; font-size: 20px;">
            The iGEM team of MIT-MAHE understands the importance of giving credit where it is due. The attributions page
            acknowledges the hard work, dedication, and creativity of all members of the team. Further, this project
            would
            not have been possible without the support of our PIs, secondary PIs, mentors, advisors and external
            contractors.
            <br>
            More detailed descriptions of the team members contributions to the project as well as external attributions
            can
            be found in the attribution form below.

          </p>

          <!--
        ======================================================================
        == VERY IMPORTANT                                                   ==
        ======================================================================
        LEAVE THE IFRAME CODE BELOW AS IT IS, THE ATTRIBUTION FORM OF YOUR TEAM
        WILL BE DISPLAYED ON THIS PAGE. DO NOT REMOVE IT, OTHERWISE YOU RISK OF
        NOT MEETING BRONZE MEDAL CRITERION #2
       -->
          <div class="row mt-4">
            <script type="text/javascript">
              // Listen to size change and update form height
              window.addEventListener('message', function (e) {
                const { type, data } = JSON.parse(e.data);
                if (type === 'igem-attribution-form') {
                  const element = document.getElementById('igem-attribution-form')
                  element.style.height = data + 50 + 'px'
                }
              });
            </script>
            <iframe style='width: 100%' id="igem-attribution-form"
              src="https://attributions.igem.org?team=MIT-MAHE&year=2023">
            </iframe>
          </div>
          <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
        </div>
      </div>

    </div>
  </div>

</body>

<!-- Footer -->
{% include 'my-footer.html' %}

<script src="{{ url_for('static', filename = 'jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'popper.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>

<script defer src="{{ url_for('static', filename = 'script.js') }}"></script>

</html>
