{% extends "my-layout.html" %}

{% block sidebar_content %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="#section1" class="nav-link link-dark" aria-current="page">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#home" />
      </svg>
      The Journey of TCC
    </a>
  </li>
  <li>
    <a href="#section2" class="nav-link link-dark">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#speedometer2" />
      </svg>
      Extent of TCC Accumulation
    </a>
  </li>
  <li>
    <a href="#section3" class="nav-link link-dark">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#table" />
      </svg>
      Damage to Aquatics
    </a>
  </li>
  <li>
    <a href="#section4" class="nav-link link-dark">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#table" />
      </svg>
      Damage to Agro Industry
    </a>
  </li>
  <li>
    <a href="#section5" class="nav-link link-dark">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#grid" />
      </svg>
      Existing Methods
    </a>
  </li>
  <li>
    <a href="#section6" class="nav-link link-dark">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#people-circle" />
      </svg>
      Biodegradation of TCC
    </a>
  </li>

  <li>
    <a href="#section7" class="nav-link link-dark">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#people-circle" />
      </svg>
      Chloroanilines
    </a>
  </li>

  <li>
    <a href="#section8" class="nav-link link-dark">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#people-circle" />
      </svg>
      Our Solution
    </a>
  </li>

  <li>
    <a href="#section9" class="nav-link link-dark">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#people-circle" />
      </svg>
      References
    </a>
  </li>
</ul>

{% endblock %}

{% block heading %}Project Description{% endblock %}

{% block page_content %}
<div class="content">
  <div class="m-5 mb-16">
    <p class="mt-5 sub-stuff"><b>Pharmaceutical and personal care products</b> (PPCPs) like cosmetics, soaps,
      disinfectants and detergents are composed of a plethora of chemical classes including antimicrobial compounds.
      <b>Triclocarban </b> (TCC) is a popularly incorporated antimicrobial since it prevents product spoilage and
      infection to the consumer.
    </p>

    <img src="https://static.igem.wiki/teams/4641/wiki/project-description-images/figure-1.jpg" class="img-fluid">

    <p class="mt-5 MAIN-STUFF" id="section1">The Journey of TCC</p>

    <p class="mt-5 sub-stuff"> PPCPs are consumed globally at a rate of <b>0.1 million tonnes per year</b> and find
      their way into waste water treatment plants [1]. </p>
    <figure>
      <img src="https://static.igem.wiki/teams/4641/wiki/project-description-images/figure-2.jpg" class="img-fluid">
      <figcaption font-family: 'Poppins', sans-serif;>Concentrations (ng/L) of PPCPs reported in surface water samples from different countries [9]
      </figcaption>
    </figure>

    <p class="mt-5 sub-stuff"><b>76-79% of triclocarban (TCC) is released</b> with sewage sludge since it is difficult
      to degrade using existing, implemented methods [2].<br><br>
      TCC is omnipresent and preserved in the environment and even found to accumulate within our flora and fauna,
      causing <b>hormone disruption</b> and aiding anti-bacterial resistance.</p>

    <p class="mt-5 MAIN-STUFF" id="section2">Extent of TCC Accumulation</p>

    <p class="mt-5 sub-stuff"> At local wastewater treatment plants (WWTPs) in Udupi and Mangalore, India, the average
      concentration of TCC recorded in the <b>sludge</b> was <b>21,000 ng/g dw</b> and <b>13,000 ng/g dw</b>,
      respectively [3].<br><br>
      The concentration of TCC detected in <b>Indian aquatic environments</b> (including surface waters or even drinking
      water) was <b>1119 ng/L</b> [2]. <br><br>
      On a global scale, the median values of detected TCC in surface water worldwide ranged around 10-100 ng/L. 51-347
      ng/L and 7.5-102 ng/L TCC were monitored in tap and treated drinking water, respectively [4]. <br><br>
    </p>

    <p class="mt-5 MAIN-STUFF" id="section3">Damage to Aquatics</p>

    <p class="mt-5 sub-stuff">Pertaining to Indian waters, 692 ng/g w/w TCC was accumulated in fish from the Kaveri
      River, India [5]. Victims and their symptoms included:<br><br>
      <b>Zebrafish larvae</b>: Affected nervous system & skeletal muscle development, metabolism along with hormonal
      conditions. <br><br>
      <b>Fathead minnows</b>: Reduced mobility & feeding, aggression, fecundity and even death. <br><br>
      <b>Freshwater mud snails, planktonic crustaceans, and amphibians</b>: Reproductive issues rooted from
      endocrine-disruption.
    </p>

    <p class="mt-5 MAIN-STUFF" id="section4">Damage to Agro Industry</p>

    <p class="mt-5 sub-stuff"> In food crops cultured in <b>contaminated hydroponic media</b>, after four weeks of
      exposure, roots accumulated 86–1,350 mg kg<sup>−1</sup> of antimicrobials and shoots had accumulated 0.33-5.35 mg kg<sup>−1</sup> of
      antimicrobials, including triclocarban [6]. <br><br>

      The uptake and accumulation of TCC due to the use of <b>contaminated biosolids as fertilisers</b> has been
      detected in several food crops—carrots, green peppers, tomatoes, and cucumbers—and has been proven to hinder
      proper metabolism in the crops [2]. <br><br>

      Accumulation of TCC was observed in soil and soil-dwelling organisms. Moreover, microbial communities and their
      metabolic activities like nitrification and denitrification were heavily affected. As an antimicrobial, it may
      participate in <b>antibiotic resistance bacteria selection</b> and may induce antibiotic-resistant genes in these
      bacteria [2]. </p>

    <p class="mt-5 MAIN-STUFF" id="section5">Existing Methods</p>

    <p class="mt-5 sub-stuff"> Adsorption is the most prevalent physical approach to removing TCC from water, but there
      is room for improvement in its operational parameters. Additionally, desorption should be considered to ensure
      sustainable water treatment. Although activated carbon adsorption has been considered, its disadvantages include
      <b>high costs, lack of selectivity, and a limited regenerative capacity </b> [7]. <br><br>

      In the case of chemical methods, Ultraviolet light (UV), chlorine oxidation, ozone, and electron-Fenton are
      usually considered promising methods. Inorganic ions, like sulphate and nitrate, often found in wastewater, were
      found to <b>hinder the photolysis of TCC</b> by UV radiation [8]. Chlorine oxidation often results in the
      incomplete degradation of the compounds and the production of <b>hazardous byproducts</b>. Chemical approaches are
      generally more <b>expensive</b>, while ozone-based techniques have been proven to be <b>less effective</b>.
      <br><br>

      <b>It was found that most methods currently utilised by WWTPs in India aren’t adequate for removing TCC [2].</b>
    </p>

    <p class="mt-5 MAIN-STUFF" id="section6">Biodegradation of TCC</p>

    <p class="mt-5 sub-stuff"> Isolated from a WWTP in China, <i>Ochrobactrum sp. TCC-2</i> expresses an amidase enzyme
      through the TccA gene which can break down TCC. However, according to literature, it was found to degrade TCC to
      <b>toxic byproducts 3,4-Dichloroaniline (3,4-DCA) and 4-Chloroaniline (4-CA)</b>. Amidase also showed activity
      with amide bond cleavage in carbanilide, dichlorocarbanilide, trichlorocarbanilide.
    </p>

    <img src="https://static.igem.wiki/teams/4641/wiki/project-description-images/figure-5.jpg" class="img-fluid">

    <p class="mt-5 MAIN-STUFF" id="section7">Chloroanilines</p>
    <p class="mt-5 sub-stuff"> Once degraded by existing methods, toxic chloroaniline byproducts accumulate in the
      environment. According to studies conducted by the World Health Organisation and Centers for Disease Control and
      Prevention, 4-chloroaniline and 3,4-dichloroaniline act as <b>carcinogens</b> and cause
      <b>methemoglobinemia</b>-which is a condition characterised by an abnormal form of haemoglobin in the blood
      leading to <b>cyanosis and hypoxia</b>.
    </p>

    <p class="mt-5 MAIN-STUFF" id="section8">Our Solution</p>

    <p class="mt-5 sub-stuff" font-family: 'Poppins', sans-serif;>
    
      <li>Some bacteria, through other degradation pathways, can degrade the initial byproducts 3,4-DCA and 4-CA to
        Krebs’ cycle intermediates which are then utilised by the bacteria.</li>
      <li><b>Our proposed solution to degrade TCC into non-toxic final products was to insert the novel amidase gene
          into a chassis which degrades its byproducts.</b></li>
      <li>Our project involves modifying a known metabolic pathway by adding one step to it.
      </li>
      <li>Our novel amidase gene acts along with a cluster of native genes that degrade the compound till
        cis,cis-muconic acid which is then further taken into the Krebs' cycle.
      </li>
  

    <figure>
      <img src="https://static.igem.wiki/teams/4641/wiki/project-description-images/figure-4.jpg" class="img-fluid">
      <figcaption font-family: 'Poppins', sans-serif;> Proposed degradation pathway</figcaption>
    </figure>
    </p>

    <p class="mt-5 MAIN-STUFF" id="section9">References</p>

    <p class='mt-5 sub-stuff'> [1] Gopal, C. M., Bhat, K., Ramaswamy, B. R., Kumar, V., Singhal, R. K., Basu, H.,
      Udayashankar, H. N., Vasantharaju, S. G., Praveenkumarreddy, Y., Lino, Y., & Balakrishna, K. (2021). Seasonal
      occurrence and risk assessment of pharmaceutical and personal care products in Bengaluru rivers and lakes, India.
      Journal of Environmental Chemical Engineering, 9(4), 105610. <a href="https://doi.org/10.1016/j.jece.2021.105610"
        target="_blank"> https://doi.org/10.1016/j.jece.2021.105610 </a><br><br>

      [2] Yun, H., Liang, B., Kong, D., Li, X., & Wang, A. (2020). Fate, risk and removal of triclocarban: A critical
      review. Journal of Hazardous Materials, 387, 121944. <a href="https://doi.org/10.1016/j.jhazmat.2019.121944"
        target="_blank"> https://doi.org/10.1016/j.jhazmat.2019.121944 </a><br><br>

      [3] Subedi, B., Balakrishna, K., Joshua, D. I., & Kannan, K. (2017). Mass loading and removal of pharmaceuticals
      and personal care products including psychoactives, antihypertensives, and antibiotics in two sewage treatment
      plants in southern India. Chemosphere, 167, 429-437. <a href="https://doi.org/10.1016/j.chemosphere.2016.10.026 "
        target="_blank"> https://doi.org/10.1016/j.chemosphere.2016.10.026 </a><br><br>

      [4] Shen, J. Y., Chang, M. S., Yang, H., & Wu, G. J. (2012). Simultaneous determination of triclosan,
      triclocarban, and transformation products of triclocarban in aqueous samples using solid-phase
      micro-extraction-HPLC-MS/MS. Journal of Separation Science, 35(19), 2544-2552. <a
        href="https://doi.org/10.1002/jssc.201200181" target="_blank">https://doi.org/10.1002/jssc.201200181 </a>
      <br><br>

      [5] Vimalkumar, K., Seethappan, S., & Pugazhendhi, A. (2019). Fate of Triclocarban (TCC) in aquatic and
      terrestrial systems and human exposure. Chemosphere, 230, 201-209. <a
        href="https://doi.org/10.1016/j.chemosphere.2019.04.145" target="_blank">
        https://doi.org/10.1016/j.chemosphere.2019.04.145 </a> <br><br>

      [6] Mathews, S., Henderson, S. & Reinhold, D. Uptake and accumulation of antimicrobials, triclocarban and
      triclosan, by food crops in a hydroponic system. Environ Sci Pollut Res 21, 6025–6033 (2014). <a
        href="https://doi.org/10.1007/s11356-013-2474-3 " target="_blank">https://doi.org/10.1007/s11356-013-2474-3</a>
        <br><br>

        [7] Grégorio Crini, Eric Lichtfouse. Advantages and disadvantages of techniques used for wastewater treatment.
        Environmental Chemistry Letters, 2019, 17 (1), pp.145-155. <a href="https://doi.org/10.1007/s10311-018-0785-9"
          target="_blank">https://doi.org/10.1007/s10311-018-0785-9</a><br><br>

        [8] Azeezah Amigun Taiwo, Saheed Mustapha, Tijani Jimoh Oladejo, Adekola Folahan Amoo & Rabi Elabor (2022):
        Occurrence, effects, detection, and photodegradation of triclosan and triclocarban in the environment: a review,
        International Journal of Environmental Analytical Chemistry, <a
          href="https://doi.org/10.1080/03067319.2022.2106860"
          target="_blank">https://doi.org/10.1080/03067319.2022.2106860</a><br><br>
        [9] Ebele, A. J., Abdallah, M. A., & Harrad, S. (2017). Pharmaceuticals and personal care products (PPCPs) in
        the freshwater aquatic environment. Emerging Contaminants, 3(1), 1-16. <a
          href="https://doi.org/10.1016/j.emcon.2016.12.004 "
          target="_blank">https://doi.org/10.1016/j.emcon.2016.12.004 </a><br><br>
    </p>
  </div>
</div>

{% endblock %}
