{% extends "my-layout.html" %}
{% block page_content %}


<!-- Sidebar -->

        <div class="content-container" style="display:flex;">
        <div class="sidebar">
            <div class="d-flex flex-column flex-shrink-0 p-1 bg-light" id="saveme" style="width: 200px; height: 100vh; overflow-y: auto; position:fixed;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            </a>
            <hr>
            <ol class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#section1" class="nav-link link-dark" aria-current="page">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                  Overview
                </a>
              </li>
              <li>
                <a href="#section2" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                  High School Students
                </a>
              </li>
              <li>
                <a href="#section3" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                  Middle School Students
                </a>
              </li>
              <li>
                <a href="#section4" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                  Primary School Students
                </a>
              </li>
              <li>
                <a href="#section5" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                  Collegiate Students
                </a>
              </li>

              <li>
                <a href="#section6" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                  Working Professionals
                </a>
              </li>

              <li>
                <a href="#section7" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                  Community Educations
                </a>
              </li>

              <li>
                <a href="#section8" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                  Specially-Abled People
                </a>
              </li>

              <li>
                <a href="#section9" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                  Our Takeaway
                </a>
              </li>

            </ol>
          </div>
        </div>





          <div class="banner flex-grow-1" style="flex:1">
            <header>
              <img src= "https://static.igem.wiki/teams/4641/wiki/waves/wave-1.svg" />
              <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-2.svg" />
              <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-3.svg" />
              <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-4.svg" />
              <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-5.svg" id="shape" />
              <h1>Education</h1>
            </header>


      <div class="content">
                <div class="m-2 mb-16">
                    <p class="mt-5 MAIN-STUFF" id="section1"> Overview<br></p>
                    <p class="mt-3 sub-stuff"> <i>"Education is the most powerful weapon which you can use to change the world." 
- Nelson Mandela.</i><br></p>
<br>
<p class="mt-5 sub-stuff">The dynamic field of synthetic biology is an amalgamation of science and engineering which holds the potential for game-changing innovation and discovery. However, the general population is frequently ignorant of its profound impact because of ethical misconceptions and a lack of social awareness.<br>
<br>
In India, a developing country, encouraging the fast-paced development of synthetic biology presents unique difficulties, such as language limitations and a very diversified educational environment. These challenges emphasize the critical value of all-encompassing education and awareness programs.<br>
<br>
At MIT-MAHE, we have embarked on a mission to bridge this knowledge gap by creating educational content tailored to diverse audiences, from primary school students to working professionals. Our goal goes beyond expanding their understanding of synthetic biology; it encompasses illuminating potential career paths and debunking misconceptions , especially regarding genetically modified organisms (GMOs).<br>
<br>
The success of our project depends heavily on our educational outreach. We aim to fight the stigma and false information surrounding GMOs  by developing a concrete understanding of the biology of wastewater management and the usage of  antimicrobials like triclocarban in everyday life. Due to this knowledge, the public and other stakeholders are better equipped to generate educated judgments, which ultimately helps projects improve and ensures safety by encouraging constructive criticism.<br>
<br>
We aspire to foster mutual learning and dialogue, laying the foundation for active participation in shaping the future of synthetic biology through our workshops, age-appropriate presentations, social media, comic strips, activity booklet, blog, online talks and handbook. Education is our mission's bedrock, unlocking synthetic biology's transformative potential to address critical societal and environmental challenges.</p>
<p class="mt-5 sub-stuff"> <b>Communicating Science to High School Students</b><br>
High School students in India are taught biology well in compliance with the educational curriculum. However, the definition of biology in India has become restricted to becoming a practicing medical doctor due to societal pressure, and thus, very rarely do students begin to explore the non-anatomy side of biology. Textbooks in India discuss genetic engineering and not Synthetic biology, making this a new concept for most students. New concepts and their potential applications in their daily life tend to ignite any student’s interest, which is why we chose to discuss synthetic biology with them. To help them explore how a new field can assist their daily life, given that suitable precautions are taken.<br>
Our primary aim with high school students was to teach them the basics of synthetic biology. We taught them concepts like the central dogma of life, applications of synthetic biology and genetic engineering principles.<br>
We were able to successfully conduct these sessions with the help of a few animations for easy understanding—<br>
We also conducted a Codon Chart Activity for students to understand the concept of translation better. We linked various amino acids to single alphabets and provided them with a code which spelt out an iconic phrase— “I AM BOND.” <br>
Our team members were able to visit several high schools across the states of Karnataka, Tamil Nadu and Maharashtra.<br>
</p>

<!-- Carousel -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://static.igem.wiki/teams/4641/wiki/education/whatsapp-image-2023-10-09-at-06-19-15.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://static.igem.wiki/teams/4641/wiki/education/whatsapp-image-2023-10-09-at-06-17-20.jpeg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://static.igem.wiki/teams/4641/wiki/education/whatsapp-image-2023-10-09-at-00-25-58.jpeg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <b>Government High School, Kopinayakkanpatti, Madurai, Tamil Nadu—</b>3rd July 2023 
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
      <div class="accordion-body">
        <p>Our team conducted an educational session at Government High School, Kopinayakkanpatti, Madurai, Tamil Nadu. During this session, we engaged with a group of twenty 9th-grade students. Our primary focus was educating them about the chemicals commonly found in everyday products, emphasizing their potential impact on health and the environment. This initiative aimed to raise awareness regarding harmful chemicals in pharmaceuticals and personal care products (PPCPs).<br>
Given that many of the students came from agricultural backgrounds, we tailored our approach to introduce the concept of synthetic biology through the lens of high-yielding variety (HYV) crops. This approach allowed us to connect with the students and highlight the relevance of synthetic biology to their rural settings.<br>
Considering the rural context of the school, our educational content was delivered bilingually, utilizing both Tamil and English. We collaborated closely with the school staff to ensure effective communication and engagement with the students. After our session, the students were very enthusiastic and even spoke about the possibility of a "banana man" and showed us a sketch.
This initiative at Government High School, Kopinayakkanpatti, expanded our outreach and promoted awareness of synthetic biology and its real-world applications, particularly in regions with distinct linguistic and agricultural backgrounds.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <b>Gundecha Education Academy, Mumbai, Maharashtra—</b>5th July 2023
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
      <div class="accordion-body">
        <p>Our team had the privilege of conducting an educational session for 30 high school students in Mumbai. During this visit, two team members engaged with students from the eleventh and twelfth grades, focusing on imparting fundamental concepts and practical applications of synthetic biology and genetic engineering.<br>
To gauge the students' prior knowledge and establish a foundation for our presentation, we initiated the session by posing a series of essential questions. These questions included inquiries about the nature of a cell, the role of proteins, the concept of genes, the genetic inheritance of physical traits from parents, the functions of proteins in living organisms, the composition of the human body, and the presence of cells in all living things.<br>
Based on the students' responses to these foundational questions, we tailored our presentation to address their specific level of understanding. We explained the relevant topics, delving into the intricate world of synthetic biology and genetic engineering. We mainly focused on introducing the students to potential synthetic biology and biotechnology career opportunities, sparking significant interest and generating numerous follow-up questions.<br>
The students actively participated throughout the session, displaying remarkable enthusiasm, particularly during the interactive activity segment of the presentation. During this hands-on activity, they learned how to utilize a Codon Chart to decipher the amino acid sequence encoded by an mRNA sequence.</p>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <b>Prakriya International School, Coimbatore, Tamil Nadu—</b>5th July 2023

      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
      <div class="accordion-body">
        <p>Three members visited this school and had a fun, interactive session with 50 students from grades nine to twelve. Upon teaching synthetic biology and genetic engineering concepts, we explored biotechnology careers and conducted the codon chart activity. We also highlighted career prospects in biotechnology and presented our project, CarbanEl, and its real-world applications. The students actively participated, raising questions on biosafety, career opportunities, and the global impact of synthetic biology. We concluded the session with a codon chart activity, which the students enjoyed. Faculty members commended our educational efforts and posed intriguing questions about the containment of our project.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <b>Stanes Anglo Indian Higher Secondary School, Coimbatore, Nadu—</b>5th July 2023
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" >
      <div class="accordion-body">
        <p>We visited Stanes Anglo Indian Higher Secondary School and conducted an interactive session with 50 higher secondary and middle school students on 5th July.<br>
The students displayed great curiosity about synthetic biology after we introduced them to the basic concepts of replication, transcription, and translation. They were particularly intrigued by peptide formation and wondered if creating mermaids or bringing back extinct animals was possible!<br>
One of the most fascinating questions we received was whether switching or changing a person's brain using genome information from other individuals was feasible. We thoroughly enjoyed answering such unique questions. The students' enthusiasm during the codon chart activity brought us immense joy and underscored the importance of education.<br>
At the end of the session, after introducing our project and its applications, many individuals approached us with further questions about our project and inquiries on how they could become synthetic biologists. The students also provided feedback and expressed their gratitude for the session.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <b>DKS Hippocampus, Kanakapura Village (Outside Bangalore), Karnataka—</b>8th July 2023
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
      <div class="accordion-body">
        <p>This session took place at a school located on the outskirts of Bangalore, a setting that often needs more access to the abundant educational resources typically found in more urban schools.
During our visit, two team members held a session for 60 students. Remarkably, these students, who were in their senior secondary years, demonstrated an impressive aptitude for grasping these complex concepts. Their ability to comprehend and articulate ideas typically reserved for collegiate-level students was remarkable.<br>
What was even more inspiring was the students' proactive engagement with the material. They absorbed the knowledge shared and displayed a keen interest in the subject matter. One student went the extra mile by diligently taking notes during the session and sharing them with one of our team members through social media. This initiative demonstrated their commitment to learning and enthusiasm for discussing topics</p>

      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        <b>The Samhita Academy, Bangalore—</b>12th July 2023
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
      <div class="accordion-body">
        <p>We conducted an educational session for 50 students in grades 11 and 12, encompassing science and commerce backgrounds. During the session, we introduced them to fundamental concepts such as the central dogma of life, synthetic biology, and genetic engineering. Additionally, we provided insights into the iGEM competition and our project.
The students showed keen interest in bioethics and biosafety, leading to engaging discussions. They enthusiastically inquired about potential career opportunities within synthetic biology and exhibited curiosity regarding the intricacies of biosafety and bioethics.</p>


      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        <b>Board High School, Udupi—</b>9th September 2023
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven">
      <div class="accordion-body">
        <p>Our team's visit to Board High School, a government school in Udupi, Karnataka, was a valuable experience. We interacted with 60 students from grades 8 and 9 despite initially planning a presentation designed for 11th and 12th graders. This presentation centered around synthetic biology and genetic engineering, had been well-received among older students in cities like Bangalore and Coimbatore.<br>
One of the primary challenges we encountered at Board High School was the language barrier. While the school taught in both English and Kannada, the students primarily communicated in Kannada. To bridge this gap, we sought assistance from teachers and used numerous examples to make the content more accessible. We also explained amino acids using our music composition.
Despite the language challenges, our visit proved to be fruitful. Some students showed genuine interest and asked questions about synthetic biology, indicating their curiosity and engagement with the topic. The highlight of our visit was the interactive activity we conducted. In this activity, students decoded an amino acid chain to reveal a secret message using a codon chart. This hands-on exercise was fun and highly engaging, showcasing the effectiveness of our teaching approach. Importantly, every student successfully decoded the message, demonstrating the effectiveness of our teaching methods.</p>

      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        <b>MJC school, Manipal, Karnataka—</b>14th September 2023
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" >
      <div class="accordion-body">
        <p>Building on our experience from the visit to Board High School, we incorporated more hands-on and interactive learning activities. Our team's visit to MJC School in Manipal was an enriching experience, where we engaged with 75 students using a revamped presentation that catered to their needs and preferences.<br>
The new presentation strategy began with an extensive explanation of the cell, providing a solid foundation for understanding subsequent topics. We then explained the concepts of DNA, RNA, and proteins before delving into the intriguing world of synthetic biology. Additionally, we elucidated our project and discussed the exciting prospects of a career in biotechnology, inspiring students to consider pursuing this field.<br>
Recognizing the importance of effective communication, some team members provided Kannada translations and examples when students struggled to grasp certain concepts. This adaptable approach ensured that all students could follow the presentation comfortably.<br>
Our visit concluded with another engaging activity in which students decoded an amino acid sequence to reveal a secret message using a codon chart. This exercise sparked curiosity and led to a lively discussion, during which students asked numerous questions and sought clarification on various conceptual aspects.<br>
In conclusion, our educational visit to Board High School, followed by the visit to MJC School, helped us reflect and modify our teaching methods to cater to different populations of students in order to make synthetic biology more understandable.<br>
      </p>

      </div>
    </div>
  </div>

</div>


  <p class="mt-5 MAIN-STUFF" id='section2'>Reaching out to Middle School Students</p>
  <p class="mt-5 sub-stuff">Teaching middle school students about environmental concepts was crucial as it promotes mutual learning. We tailored our content to align with the general school curriculum, focusing on chemicals, pollutants, and sustainability rather than biology. This approach encourages responsible, sustainable attitudes from an early age. <br>
Our documentation can aid future educational initiatives and highlight broader environmental issues. Moreover, it encourages early engagement in environmental issues and lays a foundation for understanding its relevance to real-world challenges.</p>

  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        <b>Prakriya International School </b> (5 July, 2023)
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse show" aria-labelledby="headingNine">
      <div class="accordion-body">
        <p>During the session with the middle school students, we focused on addressing the topic of general pollutants in the environment. Additionally, we provided a concise overview of our project. The students from the middle school displayed an extraordinary level of curiosity and enthusiasm.<br>
Their inquiries ranged from the intriguing possibility of combining genes from animals and humans to exploring the notion of sweating hydrochloric acid through the skin. These thought-provoking questions underscored their eagerness to delve into the complexities of synthetic biology and genetic engineering. The session with the middle school students was marked by their inquisitiveness and their readiness to explore the boundaries of scientific possibilities.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        <b> Increasing our impact: India Literacy Project</b>
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" >
      <div class="accordion-body">
        <p>To take our education a step further, we have collaborated with India Literacy Project (ILP). This non-profit organization aims to enable children in government schools to acquire grade-appropriate skills and career opportunities. <br>
We translated our middle school educational content on "Chemicals in Daily Use Products" into a regional language, Kannada, which will be integrated into their syllabus as additional content and be taught at almost <b>14,102 schools</b> across India. This gave us a chance to spread awareness about the presence of harmful chemicals in personal care products among the local community. </p><br>
      </div>
    </div>
  </div>
  </div>


  <p class='mt-5 MAIN-STUFF' id='section3'> Sparking young minds</p>
  <p class='mt-5 sub-stuff'> Teaching primary school students about environmental concepts is essential as it promotes early curiosity. We engaged them by using an activity booklet and a comic strip. While we did not teach specific content, our creative approach sparks interest and encourages early engagement in science, fostering an understanding of its relevance to real-world challenges.</p>

  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEleven">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        <b>Sri Krishna Mandir, Hulimavu, Bangalore—</b>8th July 2023
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse show" aria-labelledby="headingEleven">
      <div class="accordion-body">
        <p>Our team visited an underprivileged primary school to inspire students and cultivate their interest in science. Upon asking about their future aspirations, many students appeared uncertain or expressed a desire to become cricketers. We introduced the idea of pursuing careers as doctors or scientists while not discouraging their present ambitions, and then we explained our ongoing project, highlighting its fascinating aspects.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwelve">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
        <b>Content created by us for primary school students</b>
      </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" >
      <div class="accordion-body">

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThirtheen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
        <b>Tricky triclocarban comic strip:</b>

      </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen">
      <div class="accordion-body">
        <p>Our unique and personalized comic strip titled “Tricky Triclocarban” came out in two parts, wherein the first part explained the effects of TCC on the environment. In contrast, the second part focused on how synthetic biology could solve this problem effectively. By using attractive graphical illustrations and simplifying scientific terms, we aimed to use this comic strip as a means to educate primary school students about synthetic biology in general and our project idea; this turned out to be a massive success as they stood awestruck looking at the comic and trying to get an understanding of the same while we explained it to them bit by bit!</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFourteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
        <b>Activity booklet</b>
      </button>
    </h2>
    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen">
      <div class="accordion-body">
        <p>GMOs are frequently faced with mistrust, so to demystify and explain the science behind it in the most approachable way possible, we set out to create an activity booklet for children.</p><br>
      </div>
    </div>
  </div>
  </div>

  <p class='mt-5 MAIN-STUFF' id='section4'> Presentation to our scientific peers</p>

  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFifteen">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
        <b>Lab Safety and Security Session</b> 
      </button>
    </h2>
    <div id="collapseFifteen" class="accordion-collapse collapse show" aria-labelledby="headingFifteen">
      <div class="accordion-body">
        <p>We organized a series of Lab Safety sessions to equip the second years of MIT Manipal pursuing a B.Tech in Biotechnology with valuable laboratory safety knowledge and hands-on experience. In order to ensure that they have some basic background knowledge before going to the lab, we conducted a theory session on general lab safety and Good Lab Practices (GLP) on the 5th of September. Following this, we conducted lab safety sessions with them. These sessions took place on the 14th, 18th and 19th of September, 2023, with two half-hour sessions each day, accommodating five students per session to ensure the lab remained spacious and manageable.<br>The primary objective of these sessions was to familiarize them with essential safety protocols and equipment, equipping them with a solid foundation for the upcoming years. The sessions were structured as follows:<br>


      <ol>
        <li> Introduction to Lab Safety: We delivered a comprehensive briefing on Good Laboratory Practices (GLP) and Safe Laboratory Practices (SLP) to instill a strong awareness of safety in the lab environment.</li>
        <li>  Laboratory Tour: Subsequently, we conducted a guided tour of our lab, providing explanations for the various pieces of equipment we utilized; this included demonstrations and explanations of our centrifuges, shaker incubators, -20°C and 4°C refrigerators, fume hood, weighing balance, pH meter, gel electrophoresis and SDS-PAGE setup, and the thermocycler. </li>
        <li> Interactive Sessions: To maintain engagement and foster hands-on learning, we demonstrated how to work within the Laminar Airflow hood, operate the pH meter, and use the UV spectrophotometer. We also showcased how to visualize gels under the UV Transilluminator. We also emphasized the importance of wearing gloves while preparing and working with gel and adding dye (SYBR et al.) as a neurotoxin.</li>
        <li> Autoclaving and Decontamination: The final segment of the session centered on the crucial processes of autoclaving and decontamination, emphasizing their significance in maintaining lab hygiene and safety.</li>
      </ol>

      The students expressed their gratitude for the informative and engaging sessions, and they enthusiastically embraced the opportunity to familiarize themselves with laboratory safety protocols and equipment. These sessions provided them with valuable knowledge and an inspiring introduction to the exciting world of scientific research within our team.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
        <b>Debate Workshop on Biotechnology Ethics</b>
      </button>
    </h2>
    <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" >
      <div class="accordion-body">
        <p>Organizing a debate workshop on "Synthetic Biology and Biotechnology Ethics" with LDQ (Literary, Debate, and Quiz Society), a student cultural club at MIT, Manipal, has allowed our iGEM team to take a proactive role in promoting science communication and education. This workshop not only provided us with a unique platform to discuss bioethics but also allowed us to facilitate meaningful conversations among participants.<br><br>
The workshop discussed the ethical considerations surrounding vaccine development, offering a timely and relevant starting point for our deliberations. This discussion encouraged us to delve into the ethical dilemmas associated with the rapid development and distribution of vaccines, setting the stage for the broader exploration of ethical principles in science.<br><br>
One of the central lessons from the workshop was the exploration of utilitarian principles and dual-use research concerns. Understanding utilitarianism prompted us to consider the greater societal good and the potential consequences of our scientific endeavours. We emphasized the importance of scientists' responsibility to ensure their work does not inadvertently lead to harmful applications, highlighting dual-use research concerns.<br><br>
Our round-table discussion on gene therapy to enhance human functions further broadened our understanding of bioethical issues; this allowed us to explore the ethical boundaries of human enhancement and the nuanced considerations that come into play when we manipulate our genetic makeup.<br><br>
Throughout the workshop, the subjectivity of ethics emerged as a critical theme. We emphasized that ethical judgments can vary among individuals and cultures, underlining the need for open dialogue and considering diverse perspectives when making ethical decisions.<br><br>
We ended the workshop with a British Parliamentary-style debate on the motion, "This house would restart research and development in bioweapons." In summary, the workshop reinforced that scientific, ethical decisions are often complex and demand thoughtful consideration of potential consequences. It underscored the importance of engaging in open dialogue, respecting diverse viewpoints, and effectively communicating complex ideas.<br><br></p>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeventeen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
        <b>Introduction to Science Project sessions</b>

      </button>
    </h2>
    <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen">
      <div class="accordion-body">
        <p>Our team conducted an educational program aimed at college students, providing them with a comprehensive introduction to various critical topics related to synthetic biology and biotechnology. The sessions covered a wide range of subjects, including research methodologies, hardware and software components of scientific projects, in silico modeling, the importance of research in projects, guidelines for human practices, and the significance of interconnectivity among projects worldwide. To assess the student's understanding and application of these concepts, we designed a series of tasks, some of which are listed below:<br><br>

Task 0: Basics of Biotechnology<br>
<ul>
  <li>This task served as a refresher, briefly covering fundamental biotechnology concepts and requiring citations or resource links for answers.</li>
</ul>

Task 1: Research Paper Analysis<br>
<ul>
  <li>Students were tasked with selecting a research paper related to synthetic biology or biotechnology and summarizing its critical features in 800-1200 words.</li>
</ul>

Task 2: In-Depth Understanding<br>
<ul>
  <li>Students were required to produce a detailed 2500-word report on essential topics:</li>
  <li>Understanding proteins and their significance in living organisms.</li>
  <li>Profound comprehension of protein structures and alternative classification methods.</li>
  <li>Study of RNA, its functions, different RNA types, and exploration of unfamiliar RNA variants.</li>
  <li>Utilizing translation and back-translation tools for a specific DNA sequence.</li>
</ul>

Task 3: Innovative Human Practices Ideas<br>
<ul>
  <li>For each chosen field of Biology, they proposed innovative Human Practices (HP) ideas aligned with sub-categories such as Community Engagement, iHP, Education, Outreach and Science Communication, Entrepreneurship, and Inclusivity.</li>
</ul>

Overall, the tasks were designed in a way that idea creativity was encouraged, yet at the same time, basic concepts were strengthened. Therefore, our educational program engaged college students in a multifaceted synthetic biology and biotechnology exploration. The tasks we designed aimed to educate and assess their comprehension and application of the knowledge acquired. Through these tasks, we strived to foster a deeper understanding of the field and encourage creative thinking while maintaining academic rigor and ethical research practices.</p>

      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNineteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
        <b>Webinar on “Computational Methods in Synthetic Biology”</b>
      </button>
    </h2>
    <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingNineteen">
      <div class="accordion-body">
        <p>30 collegiate students attended the webinar held by iGEM MIT_MAHE on 4th October 2023. We held this webinar as integrating computation with pure biological fields is relatively new. Therefore, college students may need to be made aware of the potential of this emerging interdisciplinary topic. The speaker, Olivia Gallup, is a DPhil student at the University of Oxford studying Synthetic Biology. She covered topics ranging from Biochemical reaction networks to genetic circuits. Post the webinar, there was a question session where doubts were cleared.</p>
      </div>
    </div>
  </div>
  </div>

  <p class='mt-5 MAIN-STUFF' id='section5'> Educating and gaining opinions from working professionals </p>


  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        <b>The Rotary Club of Coimbatore Metropolis, Coimbatore</b>
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse show" aria-labelledby="headingNine">
      <div class="accordion-body">
        <p>Our Team Leader, Aditi Balasubramani, visited a meeting hosted by the Rotary Club of Coimbatore Metropolis. There, she gave a gist of the project and a basic overview of synthetic biology in a way that was easy to understand for everyone present there. There were around 20 members in the audience; they were Rotary members who were business people, mainly aged 40-60. They were very interested in the synthetic biology aspect of bioremediation. However, there were mixed opinions on the idea of genetically modified organisms and concerns about the accidental release of our modified organisms. They were satisfied with the explanation of a kill switch and biocontainment strategies. Some felt that GMOs were the future, while others were staunchly against it but were willing to listen and understand more. This visit exposed the public’s opinions towards GMOs and bioremediation.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwenty">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
        <b>Interviewing Working Professionals all over India</b>
      </button>
    </h2>
    <div id="collapseTwenty" class="accordion-collapse collapse" aria-labelledby="headingTwenty" >
      <div class="accordion-body">
        <p>In an attempt to gauge the understanding of working professionals about synthetic biology, GMOs, and bioremediation, a few of our team members interviewed their family members. They asked them basic questions about the same. We recorded their responses and conducted an online education session based on the topics that needed more clarity and awareness.</p>
      </div>
    </div>
  </div>
  </div>

  <p class='mt-5 MAIN-STUFF' id='section6'> Spreading public awareness about synthetic biology  </p>

  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyone">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyone" aria-expanded="false" aria-controls="collapseTwentyone">
        <b>Bioremediation Conclave</b>
      </button>
    </h2>
    <div id="collapseTwentyone" class="accordion-collapse collapse show" aria-labelledby="headingTwentyone">
      <div class="accordion-body">
        <p>The Bioremediation Conclave hosted by iGEM MIT-MAHE in collaboration with iGEM IIT-Delhi was an initiative by both teams to promote synthetic biology in bioremediation. It was a 3-day event where the first two days had two esteemed speakers from various universities and start-ups. In contrast, the third day was an opportunity for iGEM teams under the Bioremediation track to showcase the technical aspects of their project to the audience. This event helped us reach a larger audience and spread knowledge about synthetic biology in bioremediation.<br>

Both the teams have collated a report on this event:<br></p>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
        <b>Newspaper article in Hindi</b>
      </button>
    </h2>
    <div id="collapseTwentyTwo" class="accordion-collapse collapse" aria-labelledby="headingTwentyTwo">
      <div class="accordion-body">
        <p>In order to target a broader range of society and make our project accessible to all, we published an article in a local Hindi newspaper called “Naidunia” (meaning New World), popular in Central India. The article comprised the basics of synthetic biology, followed by an introduction about iGEM as a competition. It also briefly explained our project, “CarbanEl,” while explaining the harmful impacts of triclocarban (TCC) on the environment.<p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
        <b>Online Blog series</b>

      </button>
    </h2>
    <div id="collapseTwentyThree" class="accordion-collapse collapse" aria-labelledby="headingTwentyThree">
      <div class="accordion-body">
        <p>Through our online blog, we published five articles on Medium to promote dialogue in synthetic biology:<br>
            <ol>
              <li><u>Big Data Challenges in Genomics and Proteomics:</u> Explored the complexities of managing large datasets, providing insights for researchers</li>
              <li><u>The Power of POSH - Post Translation Switch: </u>Introduced the potential of POSH, showcasing innovative applications.</li>
              <li><u>Bioremediation in Space Exploration:</u> Explored the intersection of bioremediation and space, fostering cross-disciplinary interest.</li>
              <li><u>Environmental Remediation Using Genetically Engineered Organisms:</u> Discussed practical applications of synthetic biology in environmental solutions.</li>
              <li><u>Synthetic Biology - A Confluence of Biology and Engineering:</u> Highlighted the history and potential of synthetic biology while explaining iGEM and our project "CarbanEl."</li>
            </ol>
            These articles were thoughtfully implemented as part of our educational outreach efforts. They were helpful resources intended to educate, engage, and inspire rather than just being simple marketing tools. Each essay sought to educate readers, pique their interest, and promote discussion about synthetic biology's enormous potential and its role in resolving urgent global problems among various communities. We seek to empower more people to design, contribute to, and engage in synthetic biology through our articles.<br>
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyFour" aria-expanded="false" aria-controls="collapseTwentyFour">
        <b>#SustainableSaturday with Green Yatra</b>
      </button>
    </h2>
    <div id="collapseTwentyFour" class="accordion-collapse collapse" aria-labelledby="headingTwentyFour" >
      <div class="accordion-body">
        <p>On September 9th, 2023, we collaborated with Green Yatra to conduct a talk shedding light on the presence of hazardous chemicals, such as Triclocarban (TCC), in our personal care products. Green Yatra, a prominent environmental NGO in India, is dedicated to advancing the Sustainable Development Goals (SDGs) through tree planting, urban biodiversity preservation, water body restoration, sustainable solutions, and environmental research and awareness.<br>

Mr. Anmol Valiyare graciously co-hosted this enlightening #SustainableSaturday session alongside our Human Practices Co-Head, Shreya V. The discussion commenced with an introduction to synthetic biology, iGEM, and our current project for iGEM 2023.<br><br>

Subsequently, Shreya delved into the concealed risks associated with harmful chemicals in our personal care products (PCPs). These products often incorporate antimicrobials to inhibit microorganism growth. However, more frequently than not, these additives threaten our health and cast shadows over the delicate ecosystems surrounding us. Shreya then focused on TCC, emphasizing its troubling persistence over extended periods, leading to bioaccumulation – a process in which the chemical accumulates in aquatic organisms. The accumulation of TCC disrupts their hormonal systems, adversely affecting reproduction, development, and overall population dynamics. These effects ripple through ecosystems, causing shifts in biodiversity, altering food chains, and ultimately compromising human well-being.<br>
Shreya discussed how we can drive change through informed decisions, sharing a comprehensive approach to guide us toward a more sustainable future. She emphasized the importance of educating ourselves about the chemicals used in products, carefully reading labels before making purchases, supporting responsible brands, and exploring safer alternatives. Informed and conscientious consumers can encourage manufacturers to prioritize using safer ingredients, adopt sustainable manufacturing practices, and reduce their environmental footprint.<br><br>

We thank Green Yatra for granting us this valuable platform to voice our concerns and promote sustainability. This session gave us a chance to reach the general population and raise awareness about the presence of harmful chemicals in our PCPs.<br>
</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyFive" aria-expanded="false" aria-controls="collapseTwentyFive">
        <b>SynBio Comic Series</b>
      </button>
    </h2>
    <div id="collapseTwentyFive" class="accordion-collapse collapse" aria-labelledby="headingTwentyFive">
      <div class="accordion-body">
        <p>Comic strips showcase our creativity while explaining basic biological concepts to the community in simple terms. We put up a series of three comic strips on our Instagram handle to interact with our audience and attract their interest in this field. It added a fun element to our education approach while keeping our audience's interest alive.<br></p>

      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentySix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix">
        <b>A Series on Synthetic Biology Applications</b>
      </button>
    </h2>
    <div id="collapseTwentySix" class="accordion-collapse collapse" aria-labelledby="headingTwentySix">
      <div class="accordion-body">
        <p>In order to reach our audience uniquely, we posted an "Applications of SynBio" series on our Instagram. We showcased three unique advances in synthetic biology, thus opening people's minds to the importance of SynBio and further development; this was our way of taking a step toward raising awareness about the applications of synthetic biology in the community. <br><br>

<b>Episode 1:</b> Chimeric Antigen Receptors T-cell therapy is a newfound form of cancer immunotherapy that acts as a personalized living drug.<br>
CAR T-cell therapy, a revolutionary living drug, employs customized T-cells to combat cancer. Promising studies, such as one in Spain, show significant remission rates, transforming cancer treatment, particularly for leukemia and lymphoma, with the potential for the word 'cure' to become more common in oncology.<br>
<b>Episode 2:</b> Using Waste from Whiskey Production: How bacteria and Copper nanoparticles are transforming distillery byproducts.<br>
Synthetic biology is transforming waste management by using bacteria to convert copper ions in whiskey production byproducts into copper nanoparticles with applications in dentistry. This innovative approach cleans up waste and produces valuable materials for compost and animal feed, showcasing the sustainable potential of synthetic biology in waste treatment.<br>
<b>Episode 3:</b> <br>
Biochar, derived from biomass, is a carbon-rich substance with applications in carbon removal, soil purification, water treatment, and more. Despite challenges like stability and heavy metal content, it can capture significant CO2 and reduce greenhouse gasses. Nevertheless, biochar has immense potential in addressing climate change, improving agriculture, and waste management with a growing global market. Overcoming technical and regulatory hurdles is critical to its success.<br>
</p>


      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentySeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentySeven" aria-expanded="false" aria-controls="collapseTwentySeven">
        <b>Music composition from our TccA amidase protein sequence</b>
      </button>
    </h2>
    <div id="collapseTwentySeven" class="accordion-collapse collapse" aria-labelledby="headingTwentySeven">
      <div class="accordion-body">
        <p>Science and music are intricately intertwined with layers of shared principles and interdependence as they involve elements of exploration, creativity, and analysis. Through this unconventional approach we grasped the attention of many audiences irrespective of their ages, so we identified a software that assigns notes to each amino acid. We set notes to our amidase protein sequence using this software and created a piano sample.<br>
To make it sound more creative and professional, we collaborated with Paras Ahuja, one of the most creative musicians and music producers in Manipal. He composed and produced the whole music track using the piano sample as the primary element and added his own unique, creative, and experimental musical additions. Further, it paved a path for us to educate visually impaired people.
</p>

      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyEight" aria-expanded="false" aria-controls="collapseTwentyEight">
        <b>Handbook</b>
      </button>
    </h2>
    <div id="collapseTwentyEight" class="accordion-collapse collapse" aria-labelledby="headingTwentyEight" >
      <div class="accordion-body">
        <p>From our survey we inferred that the general public, particularly working class individuals are not as concerned as expected about micropollutants, thus through our handbook we aim to educate those interested on Water Pollution, Understanding Micropollutants, Water Treatment Methods, Prevention and Source Control and Wastewater Management.
      </p>
      </div>
    </div>
  </div>

</div>


  <p class='mt-5 MAIN-STUFF' id='section7'> Synthetic Biology for Everyone </p>

  <p class='mt-5 sub-stuff'> On many occasions, the differently-abled are excluded from science and technology. Science is for everyone. To bring fruition to our beliefs, we visited a rehabilitation center and interacted with the members at their homes.<br><br>
On 7 October 2023, our team visited the Asare Rehabilitation Centre—a home for the differently-abled. The senior special educator welcomed us to the institution and began by discussing how Asare houses people traditionally excluded from other homes. We then proceeded to provide crayons and coloring sheets to all the residents; they were coloring soap bottles. We used the subject of the coloring sheets as a starter for our skit, which we conducted in the local language, Kannada, and introduced our year-long project, CarbanEL. We used color changes in a beaker to signify how our project would work and, therefore, attempted to demonstrate our project more interactively. We ended the session with some songs and answered the doubts raised by the residents about our project and other scientific terms. Through this visit, we understood that there are no barriers to understanding science, and their enthusiasm toward our initiative was enlivening.</p>

  <p class='mt-5 MAIN-STUFF' id='section8'> Our Takeaway</p>
  <p class='mt-5 sub-stuff'> For future teams to build upon and our biggest take away from our educational visits, this is our “Guide to Education” for various age groups. <br><br>
This is one of the major challenges faced by our team during our education sessions. The differences in age groups, regions and languages was something that one needs to keep in mind while planning a session.<br><br> 
From our educational visits across various states of India, we have realized a few things that need to be pondered over before an educational visit. We have attempted to compile thought-provoking and follow-up questions on how to effectively convey our ideas to the different sections of the community  and educate them about synthetic biology and more. </p>
                  </div>

                <div class='m-5' style="height: 50px">
                </div>
              </div>
            </div>
          </div>
          </div>
{% endblock %}
