{% extends "my-layout.html" %}
  
{% block sidebar_content %}
<ul  style="font-family: 'Poppins', sans-serif; font-size: 20px; color: #666;" class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#section1" class="nav-link link-dark" aria-current="page">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                  Overview
                </a>
              </li>
              <li>
                <a href="#section2" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                  Our Team
                </a>
              </li>
              <li>
                <a href="#section3" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                  Crossing Language Barriers</a>
              </li>
              <li>
                <a href="#section4" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                  Interacting with Specially-Abled Individuals
                </a>
              </li>
              <li>
                <a href="#section5" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                  Regional Diversity
                </a>
              </li>

              <li>
                <a href="#section6" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                  Interconnectivity between Science and Art
                </a>
              </li>

</ul>

{% endblock %}

{% block heading %}Inclusivity{% endblock %}

{% block page_content %}
    <div class="content">
                <div class="m-5 mb-16">
                    <p class="mt-5 MAIN-STUFF" id="section1">Overview</p>
                    <p class="mt-5 sub-stuff"><i>“Inclusive growth should not be a mere slogan but a fundamental driving force for sustainable development.”</i><br>
- Mr. Pranab Mukherjee, Former President of India.<br><br> </p>
                <figure>
                    <img class="img-responsive rounded mx-auto d-block mt-4" style="width: 50%; height: auto;" src="https://static.igem.wiki/teams/4641/wiki/inclusivity/inclusivity-mindmap.png"> 
                    <figcaption style="text-align:center">This mind map depicts how we’ve aimed to make our project inclusive to different communities</figcaption>
                </figure>

             <p class="mt-5 sub-stuff"> Our team has attempted to explore what groups are <b>underrepresented</b> in science. Particularly in the country that our team is from, India. Through our exploration, we have identified multiple groups traditionally underrepresented in science due to social stigma and financial barriers that prevent them from crossing the threshold and bridging the gap to access scientific avenues.<br><br>

One of the groups our team has recognized as excluded from scientific research are specially-abled individuals. We developed a skit and used the <b>art of storytelling</b> to gain their opinion on fields like synthetic biology.<br>
In a country as diverse and rich with culture as India, language barriers are bound to prevent the latest scientific developments from reaching all communities. We addressed this through translations and involving stakeholders who spoke different languages. We also attempted to overcome regional barriers preventing people from accessing scientific information by leveraging online platforms like social media and blogs.<br><br>

Our documentation is our primary method of educating the public about our project so that they can access all the finer details of our project. Hence, ensuring that the wiki was accessible by making changes to accommodate color-blind and dyslexic people was also a priority. Following the same train of thought, we have made an audio description of our promotion video accessible to visually abled individuals.<br><br>

We also used a Bio-Art competition and a music composition to ensure that we taught science in a more accessible way to those with learning disabilities as well.<br> </p>

                <p class="mt-5 MAIN-STUFF" id="section2"><b>Our Team</b></p>

            <p class="mt-5 sub-stuff"> Our team members come from different states of India, adding great diversity to our team. Being inclusive of the community has been one of our primary goals from the very beginning of the project. During the initial ideation of the project, we put in considerable effort to understand the preferred pronouns of our fellow teammates. The diversity that we bring to the table with various cultures and regions has been something of great help to us, providing us a chance to learn more about the others.<br> </p>
            <figure>
              <img class="img-responsive rounded mx-auto d-block mt-4" style="width: 40%; height: auto;;" src="https://static.igem.wiki/teams/4641/wiki/inclusivity/team-photo-2.jpg"> 
            </figure>
            <p class="mt-5 MAIN-STUFF" id="section3"><b>Crossing Language Barriers</b></p>

            <p class="mt-5 sub-stuff"> India has 22 official languages with hundreds of regional dialects with its own layers of dynamics in cultural and social diversity. Access to scientific information should not be restricted by these language barriers. Regional languages bridge these gaps, ensuring individuals from diverse linguistic backgrounds can access and contribute to scientific knowledge. We can empower communities to understand and apply scientific findings to their contexts, fostering sustainable practices and development.<br> </p>

            <ul style="font-family: 'Poppins', sans-serif; font-size: 20px; color: #666;" class="mt-5 sub-stuff">
                <li>We interacted with local stakeholders in <b>various languages</b> like Hindi, Tamil, Bengali, Kannada and Odia to explain our project idea to them and get their genuine opinions on our implementation strategy.</li>
                <li>We also conducted education programs in local languages like Tamil and Kannada to increase engagement among various groups. Our education visits were not restricted to schools in Manipal; we have taught students in schools across many states of India</li>
                <li>We have gone a step further and collaborated with India Literacy Project. This non-profit organization aims to enable children in government schools to acquire grade-appropriate skills and career opportunities. We <b>translated our educational content</b> on "Chemicals in Daily Use Products" into a regional language, Kannada, which will be integrated into their syllabus and be taught at over 14,102 schools across India through the India Literacy project as optional additional content; this gave us a chance to spread awareness about the presence of harmful chemicals in personal care products among the local community.</li>
            </ul>


            <div id="carouselExampleControls1" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/dkshippocampus.jpeg" style="width: 30%; height: auto;" class="d-block w-100" >
                    </div>
                    <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/govtschoolmadurai.jpeg" style="width: 30%; height: auto;" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/srikrishnamandir.jpeg" style="width: 30%; height: auto;" class="d-block w-100" >
                    </div>
                    <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/meeting-with-mr-tarini-prasad-barik-nature-conservancy-consultancy-pvt-ltd-bhubaneswar-odisha-1.png" style="width: 30%; height: auto;" class="d-block w-100" >
                    </div>
                    <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/meeting-with-mr-s-k-swain-water-treatment-industry-1.png" style="scale:0.3;" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/boardhighschool.jpeg" style="width: 30%; height: auto;" class="d-block w-100" >
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls111" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <p class="mt-5 MAIN-STUFF" id="section4"><b> Interacting with Specially-Abled Individuals </b></p> 

            <p class="mt-5 sub-stuff"> Differently abled people and people with neurodivergence are often left out of scientific education for various reasons; this often means that advancements in science and technology are often only accessible to abled people, and persons with disabilities often find it challenging to integrate into and contribute to STEM communities. We attempted to reach out to as many sections of society as possible, tailoring our approach to better fit certain groups.<br><br> </p>

            <ul style="font-family: 'Poppins', sans-serif; font-size: 20px; color: #666;">
                <li>In order to make sure that science reaches the specially-abled too, we visited “ASARE”- a center for autistic and learning disorders. There, we engaged in a fun coloring activity and performed a skit in a regional language, Kannada to convey our project to them in simple terms. We used graphical illustrations of soap, a toxic chemical (triclocarban) and a good bacteria to explain how our genetically modified bacteria would degrade the harmful chemicals present in daily use products like handwash, detergents and several others. The people loved all the activities and interacted with us. We also had a music and dance performance by a few of our team members to draw their attention and keep them involved. Followed by this, they even performed a dance out of their happiness for us and greeted us with “thank you” in the sweetest ways possible.  <br><br> </li>
            </ul>

            <div id="carouselExampleControls2" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/asare1.jpeg" style="width: 50%; height: auto;"  class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/asare2.jpeg" style="width: 50%; height: auto;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/asare3.jpeg" style="width: 50%; height: auto;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/asare4.jpeg" style="swidth: 50%; height: auto;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/asare5.jpeg" style="width: 50%; height: auto;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/asare6.jpeg" style="width: 50%; height: auto;" class="d-block w-100" alt="...">
    </div>
  </div>

  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<ul style="font-family: 'Poppins', sans-serif; font-size: 20px; color: #666;" class="mt-5 sub-stuff">
      <li>Much education and outreach rely primarily on visual aids; this makes it difficult for those with visual impairment to understand or contribute to science adequately. We decided to use music to communicate scientific concepts so that it would be accessible to those with visual disabilities while appealing to those with non-scientific backgrounds. We collaborated with musicians to create a composition using the amino acids comprising our protein tccA amidase as a basis for the notes in the sequence; this also allowed us to communicate biological concepts such as codons, protein construction, and modification using musical analogies that most people understand. It was an interactive approach to spark curiosity about science within the minds of the non-scientific community.<br><br></li>
    </ul>

    <p class="mt-5 MAIN-STUFF" id="section5"><b>Regional Diversity</b></p>

    <p class="mt-5 sub-stuff"> Our team comprises students from different regions of India, and our interaction with people made us realize the importance of reaching out to <b>various regional populations</b>. Our goal is to make science accessible to all. We used media as a means to communicate with a wider variety of audience ranging from the youth to senior citizens with no barriers created by the community. </p>

    <ul  style="font-family: 'Poppins', sans-serif; font-size: 20px; color: #666;" class="mt-5 sub-stuff">
      <li>We created a series of SynBio comic strips to ensure that the world of synthetic biology reaches a considerable audience. </li>
    </ul>

    <div class="ratio ratio-16x9">
          <iframe src="https://static.igem.wiki/teams/4641/wiki/inclusivity/synbiocomicstrip.pdf" allowfullscreen></iframe>
    </div>

      <ul style="font-family: 'Poppins', sans-serif; font-size: 20px; color: #666;" class="mt-5 sub-stuff">
      <li>We also posted a “Series on Synthetic Biology Applications” which had three episodes highlighting the latest unique advancements in synthetic biology to spark curiosity in the minds of our fellow social media users.</li>
      </ul>
      <figure>
      <img class="img-responsive rounded mx-auto d-block mt-4" style="widht:33%; height:auto;" src="https://static.igem.wiki/teams/4641/wiki/inclusivity/synbioseries1jpg.jpg">
      </figure>
      <ul  style="font-family: 'Poppins', sans-serif; font-size: 20px; color: #666;" class="mt-5 sub-stuff">
      <li>Not only this, we also had a set of five articles published on Medium relating to various aspects of synthetic biology. It would help broaden the horizons of the general public around us and emphasize how synthetic biology is not just limited to GMOs, but also has applications in numerous fields.</li>
      </ul>

      <div id="carouselExampleControls3" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/mediumarticle1.jpeg" style="width: 30%; height: auto;" class="d-block w-100" >
    </div>
    <div class="carousel-item">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/mediumarticle2.jpeg" style="width: 30%; height: auto;" class="d-block w-100" >
    </div>
    <div class="carousel-item">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/mediumarticle3.jpeg" style="width: 30%; height: auto;" class="d-block w-100" >
    </div>
    <div class="carousel-item">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/mediumarticl4.jpeg" style="width: 30%; height: auto;" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://static.igem.wiki/teams/4641/wiki/inclusivity/mediumarticle5.jpeg" style="width: 30%; height: auto;" class="d-block w-100" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<p class="sub-stuff" style="text-align:center"> Online blog series published on Medium </p>


<ul  style="font-family: 'Poppins', sans-serif; font-size: 20px; color: #666;" class="mt-5 sub-stuff">
  <li>We also conducted a “Bioremediation Conclave” in collaboration with iGEM IIT-Delhi in order to emphasize on the applications of synthetic biology in bioremediation in front of  a wider audience. Around 50 participants attended the conclave from all over the globe and from various iGEM teams participating under the bioremediation track. It was an overall learning experience for all the attendees, adding onto their knowledge and sparking new ideas.</li>
</ul>


<figure>
  <img class="img-responsive rounded mx-auto d-block mt-4" style="widht:33%; height:auto;" src="https://static.igem.wiki/teams/4641/wiki/inclusivity/conclave-1.png">
  <figcaption style="text-align:center"> 3-Day Bioremediation conclave held in collaboration with team iGEM IIT-Delhi </figcaption>
</figure>

<p class="mt-5 MAIN-STUFF" id="section6"><b>Interconnectivity between Science and Art</b></p>
<p class="mt-5 sub-stuff"> Science, like any other field, involves creativity and innovation. Science is incorporated everywhere, be it music or artwork. In an attempt to interact with the non-scientific community and bring out the creative aspects of synthetic biology, our team put in substantial efforts.<br> </p>


<ul style="font-family: 'Poppins', sans-serif; font-size: 20px; color: #666;" class="mt-5 sub-stuff">
  <li>We curated a music composition from our TccA amidase enzyme sequence by converting into notes using a software. We put together a video that played this composition in the background while showing our protein structure with triclocarban (TCC) docked in it. It further explained the mechanism behind the making of this music and helped provide an understanding about amino acids and codons.<br><br>
  <iframe title="MIT-MAHE: Music Composition of Amidase (2023) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/59fd1533-80ac-4416-bb5c-2a6e73795c86" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
  <p class="sub-stuff">Music Composition of our TccA Amidase</p>
  
  </li>
  <li>We hosted a “BioArt Competition”, in collaboration with IIT-Delhi, based on the applications of synthetic biology and solving real-world problems using traditional, indigenous and folk art styles. This helped encourage our rich heritage and brought out the diversity among the nations. The participants showcased their bioart while also describing the thoughts behind their design.</li>
</ul>
<figure>
<img class="img-responsive rounded mx-auto d-block mt-4"  style="width: 30%; height: auto;" src="https://static.igem.wiki/teams/4641/wiki/inclusivity/bioart-competition.jpeg">
<figcaption style="text-align:center">BioArt Competition held in collaboration with team iGEM IIT-Delhi </figcaption>
<img class="img-responsive rounded mx-auto d-block mt-4"  style="width: 30%; height: auto;" src="https://static.igem.wiki/teams/4641/wiki/education/img-20230920-221915-omkar-prabhu-2.jpg">
<figcaption style="text-align:center">Omkar Prabhu's Artwork: Winner of BioArt Competition</figcaption>
</figure>
        </div>
    </div>
{% endblock %}

