<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />

  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap-icons.css') }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='common-waves.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='meet-team.css') }}">
  <link href="{{ url_for('static', filename='Font_Montserrat.css') }}" rel='stylesheet'>
  <link href="{{ url_for('static', filename='Font_Poppins.css') }}" rel='stylesheet'>
  {% block modal_css %}{% endblock %}
  <title>{% block title %}Meet the Team{% endblock %} | MIT_MAHE - iGEM 2023</title>
</head>

<body style="background: #FFFFFF;">
  <!-- Navbar -->
  {% include 'my-menu.html' %}

  <div class="content-container" style="display:flex;">
    <!-- No Sidebar -->

    <div class="banner flex-grow-1" style="flex:1">
      <!-- Page Header -->
      <header>
        <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-1.svg" />
        <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-2.svg" />
        <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-3.svg" />
        <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-4.svg" />
        <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-5.svg" id="shape" />
        <h1>{% block heading %}Meet the team{% endblock %}</h1>
      </header>

      <!-- Content-->

       <div class="gallery">
        <div class="row">
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/aditi-bala.jpeg" alt="Image 1">

             <div class="text"><h2>Aditi Balasubramani</h2><br>
                    <h3>Team Lead, Wet Lab Member</h3>
              <p>Aditi is an reliable team leader with a love for Bharatnatyam dancing. Her tireless work ethic and
                innovative ideas propel her team to do more everyday. She has a knack for explaining tricky concepts
                but is infamous for going off on unrelated tangents as well.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/anandita.jpeg" alt="Image 2">
            <div class="text">
              <h2>Anandita Rawat</h2><br>
                    <h3>Human Practices and Management</h3>
              <p>Anandita is a motivated and diligent member of our team who also infuses a dose of lightheartedness
                and humor into work everyday. At any time of the day, she's blasting her favourite rock hits — you'll
                find her listening to The Beatles or Dire Straits! An avid coffee enthusiast, she can't drink black
               coffee without a dash of cinnamon in it.</p>
            </div>
          </div>

          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/jessica-2.jpg" alt="Image 3">
            <div class="text">
             <h2>I Vidhula Jessica </h2><br>
                  <h3>Head of Wet Lab</h3>
              <p>Jessica is a night owl but dedicated enough to her position as Wet Lab Head to be an early bird.
                She's empathetic, loyal, hardworking and organized. On the off chance she has free time, you can find her
                curled up in bed watching Big Bang theory with a hot plate of maggi!</p>
            </div>
          </div>

          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/stupid.jpeg" alt="Image 4">
            <div class="text">
              <h2>Ilora Samanta </h2><br>
                  <h3>Head of Dry Lab</h3>
              <p>Ilora is a dedicated workaholic known for her unwavering commitment to dry lab. While she shies
                away from socializing and management tasks, her exceptional work ethic and approachability make her a
                valuable mentor for juniors seeking guidance in their roles.</p>
            </div>

          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/dharmika-challa.jpeg" alt="Image 5">
            <div class="text">
              <h2>Dharmika Challa </h2><br>
                <h3>H&S</h3>
              <p>Meet Dharmika, our hardware and software head. She's always eager to work alongside her colleagues,
                ensuring that no task is too daunting when faced together. Her innate ability to keep everyone in
                the loop developed transparency and shared understanding in our team. In her free time, she loves to
                dance and enjoys a game of tennis. If you ever want to win her heart, a plate of biryani is the surefire
                way to do it!</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/khushi-gulati.jpeg" alt="Image 6">
            <div class="text">
              <h2>Khushi Ash Gulati</h2><br>
                <h3>Head of Research</h3>
              <p>Khushi is a witty and hardworking collaborator known for her reliable spirit. She's an amateur
                photographer, a decent baller, and you'll always find her bobbing her head to music or singing. She
                loves chips, Taylor Swift and sitcoms.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/pooja-agarwal.jpeg" alt="Image 7">
            <div class="text">
               <h2>Pooja Agarwal </h2><br>
              <h3>Co-Head of Human Practices</h3>
              <p>Pooja is a hardworking, meticulous and trustworthy. She is curious, constantly questioning and
                learning more. Her passion towards her work motivates the entire team. In her free time, and sometimes even
                during classes, you'll find her fast asleep!</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/shreya.jpeg" alt="Image 8">
            <div class="text">
             <h2>Shreya Varma</h2><br>
            <h3>Co-Head of Human Practices</h3>
              <p>Shreya loves discussing all things biology. Off-duty, she's on the football field or savoring food.
                Her talkative and passionate nature is invaluable with stakeholders.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/aditi-kini.jpeg" alt="Image 9">
            <div class="text">
              <h2>Aditi Kini </h2><br>
          <h3>Head of Graphics and Social Media</h3>
              <p>Aditi loves presenting herself through her art- apart from design she's also an avid dancer. She's
                a huge fan of The Office and playing it in the background is her go to move while working to make it
                more fun and "motivate" her. She is constantly on her phone, making her a perfect fit as our social media head! Aditi is almost always cheerful and loves helping with morale and keeping everyone's mood up
                in the skies!</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/manu.jpeg" alt="Image 10">
            <div class="text">
              <h2>Manu Upadhye</h2><br>
          <h3>Wet Lab</h3>
              <p>With a strong hatred towards Times New Roman and unending love for Dichloromethane, Manu is easily
                one of the integral parts of the wet lab team. His precise and quick calculations with his phenomenal
                working lab skills are what makes him so important.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/shuba-tiwari.jpeg" alt="Image 11">
            <div class="text">
               <h2>Shubha Tiwari</h2><br>
        <h3>Dry Lab</h3> 
              <p>Shubha is a committed, hardworking and friendly team member with a knack for research. She enjoys
                traveling and loves animals, especially cats. In her spare time, she likes watching anime and
                listening
                to music.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/sonal-keni.jpeg" alt="Image 12">
            <div class="text">
              <h2>Sonal Keni</h2><br>
        <h3>Research</h3>
              <p>Sonal's habit of going down obscure Wikipedia rabbit holes serves her well in the Research
                subsystem. In her free time, she enjoys painting, binge-watching Netflix, and adding things she can't afford to her Amazon wishlist. </p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/nidhi-mallya.jpeg" alt="Image 13">
            <div class="text">
              <h2>Nidhi Mallya</h2><br>
      <h3>Wet Lab</h3>
              <p>Though seemingly a tad reserved, Nidhi is a bundle of warmth. She is a passionate singer and her
                enthusiasm is downright infectious. From sizzling street food to gourmet feasts, Nidhi's love for
                food knows no bounds.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/rajat-sreeraj.jpeg" alt="Image 14">
            <div class="text">
             <h2>Rajat Sreeraj</h2><br>
        <h3>Wet Lab</h3> 
              <p>Rajat is an amicable yet quiet person of trustworthy character. He enjoys working in the project
                lab and is very passionate about all things synthetic biology. He's a huge history nerd and enjoys
                reading comic books.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/richa-rao.jpeg" alt="Image 15">
            <div class="text">
              <h2>Richa Rao</h2><br>
      <h3>Dry Lab</h3> 
              <p>Richa is one of our most dedicated members. She enjoys reading as well as everything music and
                always has something playing in the background. A team player through and through, she is an excellent addition to our team.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/aritro.jpeg" alt="Image 16">
            <div class="text">
              <h2>Aritro Biswas</h2><br>
      <h3>Wet Lab</h3>
              <p>Aritro is a photographer, cinephile and musician. He's literally Ryan Gosling. When he's not in the
                lab, he can be found discussing politics, history and philosophy with Rajat. He's cute and listens
                to The Smiths. A wild Real Madrid supporter.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/vikrant.jpg" alt="Image 17">
            <div class="text">
              <h2>Vikrant Vhatkar</h2><br>
      <h3>Human Practices and Management</h3>
              <p>Vikrant is a smart and intelligent individual who excels as an outreaching expert. His exceptional
                punctuality of work sets him apart, making him a valuable asset in any endeavor.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/aditi-srivastava.jpeg" alt="Image 18">
            <div class="text">
              <h2>Aditi Srivastava</h2><br>
      <h3>Dry Lab</h3> 
              <p>Aditi Srivastava is the dry lab team's artistic maestro! Often you'll catch her with her gym bag
                clinging to her sides and random music playlist blasting in her headphones. She is a great listener,
                if you ever feel blue she'll make sure to make your day better. </p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/rhea-fernandez.jpeg" alt="Image 19">
            <div class="text">
              <h2>Rhea Fernandez</h2><br>
    <h3>Graphics</h3> 
              <p>You'll mostly spot Rhea in the wild. She's passionate about animal rehabilitation, environmental
                welfare and adventures, along with a flair for designing, getting creative, singing, photography,
                playing the piano, socialising and learning new things! </p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/nivetha-sri.jpeg" alt="Image 20">
            <div class="text">
              <h2>Nivetha Sri P</h2><br>
    <h3>Hardware and Software</h3> 
              <p>Nivetha loves drinking teas , you'd never see her without her flask. She ideates and processes
                information quickly, much like you'd gulp a refreshing drink on a scorching summer day. In her
                pastime, she sketches or keeps praticing yoga to forget the day away.
              </p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/riyaa-ganla.png" alt="Image 21">
            <div class="text">
              <h2>Riyaa Kedar Ganla</h2><br>
    <h3>Research</h3>
              <p>A research ace and rapid learner, Riyaa thrives on practicality, constantly brainstorming creative
                solutions for project challenges. She's often found laughing at her meme-inspired jokes. In her
                downtime, she's a dedicated doodler and in a committed relationship with her earphones.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/janani-sriramakrishnan.jpeg"
              alt="Image 22">
            <div class="text">
              <h2>Janani Sriramakrishnan</h2><br>
    <h3>Research</h3>
              <p>Often working diligently behind the scenes, Janani is a quiet, hardworking, and amicable person who
                prefers a calm and focused approach to her tasks. Not a single day goes by without her jamming to
                K-pop songs and binging K-dramas. </p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/saurav-vinodh.jpeg" alt="Image 23">
            <div class="text">
               <h2>Saurav Arippara Vinodh </h2><br>
    <h3>Wiki and Web Development</h3>
              <p>Saurav is an avid movie watcher who's living on a healthy diet of kurkure and noodles. He's also
                always trying to read manga in the middle of class. He loves listening to indie music. </p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/akanksha.jpeg" alt="Image 24">
            <div class="text">
              <h2>Akanksha Kelkar</h2><br>
    <h3>Dry Lab</h3>
              <p>Akanksha is a dedicated and diligent professional. She excels in mentoring her juniors,
                consistently exceeding expectations in her assigned tasks. With her infectious sense of humor, she's the one who never fails to bring a smile to your face.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/anika.jpeg" alt="Image 25">
            <div class="text">
              <h2>Anika Jha</h2><br>
    <h3> Wiki and Web Development</h3>
              <p>Anika is a diligent worker who lets her inner child shine outside the student project. Approachable
                and responsible, she transforms into a fun and effective teacher once you get to know her, striking the perfect work-life balance.</p>
            </div>
          </div>

          <div class="image"></div>
             <div class="image"></div>

          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/shreyas-pakhie.jpg" alt="Image 1">
            <div class="text">
              <h2>Shreyas Samir Parkhie</h2><br>
              <h3>Mentor</h3>
              <p>A dreamer, believer and synbio enthusiast. Shreyas is passionate about biology and believes that
                biology is all about its nitty gritty. This drives him to keep seeking practical solutions to
                scientific problems. He loves music baking, and reading minds (kidding! XD , but it's good to keep magneto's helmet close by!</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/dr-ritu-raval.png" alt="Image 2">

            <div class="text">
              <h2>Dr.Ritu Raval</h2><br>
              <h3>Associate Professor, Department of Biotechnology, Manipal Institute of Technology, Manipal, India.</h3>
              <p>Dr. Ritu Raval played a crucial role in guiding us through the design and safety aspects. From
                regular follow up meetings to involvement in educational outreach activities, her constant guidance and support towards iGEM MIT-MAHE has been pivotal in the success of Project CarbanEl.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/dr-fayaz-sm.png" alt="Image 3">

            <div class="text">
              <h2>Dr. Fayaz SM</h2><br>
              <h3>Assistant Professor—Selection Grade, Department of Biotechnology, Manipal Institute of Technology,
              Manipal</h3>
              <p>Dr. Fayaz helped us in understanding MDS results and guiding us through enzyme modelling, kinetic
                studies as well as structure prediction. His support throughout the course of our project has been
                invaluable.</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/kapil-sir.png" alt="Image 4">

            <div class="text">
              <h2>Dr. Kapil Sadani</h2><br>
              <h3>Associate Professor—Department of Instrumentation & Control Engineering, Manipal Institute of
              Technology,Manipal, India.</h3>
              <p>Dr. Kapil Sadani has helped us with Raman Spectroscopy to identify unique peaks that correlate to
                the structure of Triclocarban(TCC). His advice has helped us improve our certain aspects of our project.
              </p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/chiranjit.png" alt="Image 5">

            <div class="text">
              <h2>Dr. Chiranjit Ghosh</h2><br>
              <h3>Associate Professor(Research)—Department of Biotechnology, Manipal Institute of Technology, Manipal,India.</h3>
              <p>Dr. Chiranjit Ghosh helped us in the development of ideas with regards to TCC detection and played
                an important role in troubleshooting experiments involving TCC. "</p>
            </div>
          </div>
          <div class="image">
            <img src="https://static.igem.wiki/teams/4641/wiki/meet-the-team/balakrishna.png" alt="Image 6">

            <div class="text">
              <h2>Dr. K. Balakrishna</h2><br>
              <h3>Associate Professor—Department of Civil Engineering, Manipal Institute of Technology, Manipal, India.</h3>
              <p>Dr. K. Balakrishna played a pivotal role in project ideation. By helping us work on the initial
                idea our project, he guided us on how to reduce these pollutants in wastewater treatment plants and made
                us aware on the work that has already been done in on these micro-pollutants.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>

<!-- Footer -->
{% include 'my-footer.html' %}

<script src="{{ url_for('static', filename = 'jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'popper.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>

<script defer src="{{ url_for('static', filename = 'script.js') }}"></script>

</html>
