<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />

  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap-icons.css') }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='common-waves.css') }}">
  <link href="{{ url_for('static', filename='Font_Montserrat.css') }}" rel='stylesheet'>
  <link href="{{ url_for('static', filename='Font_Poppins.css') }}" rel='stylesheet'>
  {% block modal_css %}{% endblock %}
  <title>{% block title %}{% endblock %} | MIT_MAHE - iGEM 2023</title>
</head>

<body style="background: #FFFFFF;">
  <!-- Navbar -->
  {% include 'my-menu.html' %}

  <div class="content-container" style="display:flex;">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="d-flex flex-column flex-shrink-0 p-1" id="saveme"
        style="width: 200px; height: 100vh; overflow-y: auto; position:fixed; background-color: #ffffff;">
        <hr>
        {% block sidebar_content %}
        {% endblock %}
      </div>
    </div>

    <div class="banner flex-grow-1 p-3" style="flex:1">
      <!-- Page Header -->
      <header>
        <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-1.svg" />
        <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-2.svg" />
        <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-3.svg" />
        <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-4.svg" />
        <img src="https://static.igem.wiki/teams/4641/wiki/waves/wave-5.svg" id="shape" />
        <h1>{% block heading %}{% endblock %}</h1>
      </header>

      <!-- Content-->
      {% block page_content %}
      {% endblock %}
    </div>
  </div>

</body>

<!-- Footer -->
{% include 'my-footer.html' %}

<script src="{{ url_for('static', filename = 'jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'popper.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>

<script defer src="{{ url_for('static', filename = 'script.js') }}"></script>

</html>
